{% extends 'base.html.twig' %}

{% block body %}
    {% for message in app.session.flashBag.get("messages") %}
        <span style="color:red;">{{ message }}</span>
        <br>
    {% endfor %}
    <form action="{{ path(action) }}" method="post" novalidate="novalidate">
        <ul>
            {% for error in form.vars.errors %}
                <li style="color:red;">{{ error.message }}</li>
            {% endfor %}
        </ul>
        {% if user.id %}
            (id: {{ user.id }})<br>
        {% endif %}
        <span>{{ form_label(form.username) }} {{ form_widget(form.username) }}</span>
        <span>{{ form_label(form.email) }} {{ form_widget(form.email) }}</span>
        <input type="hidden" name="id" value="{{ user.id }}">
        {{ form_rest(form) }}
        <input type="submit" value="{{ submitButton }}">
    </form>
    <div>
    {{ dump(form.vars.value) }}
    </div>
{% endblock %}
